package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - blocky.yaml
          - catatonit.yaml
          - golink.yaml
          - kromgo.yaml
          - kube-network-policies.yaml
          - kubeconform.yaml
          - lidarr.yaml
          - perl-email-date-format.yaml
          - perl-mailtools.yaml
          - perl-mime-lite.yaml
          - perl-mime-types.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - prowlarr.yaml
          - radarr.yaml
          - redis.yaml
          - renovate-apk-indexer.yaml
          - sonarr.yaml
          - tailscale.yaml
          - tsidp.yaml
          - wolfi-scanner.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
    - when: never
  tags: ["$ARCH"]
  services:
    - cgr.dev/chainguard/docker-dind:latest@sha256:8b8c85d67f2455885137992abe86176802ad95919d21b9e74487df5c67c169c4
  image:
    name: ghcr.io/vaskozl/melange:0.31.8@sha256:c8753829aa21454f460380d7bd6654083b813aa4facf934461e58368b3f3d451
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
      --env-file common.env
    OUT_DIR: /apks
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --source-dir="${PKG%.yaml}" --out-dir="${OUT_DIR}" --signing-key=melange.rsa
#    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
