package:
  stage: build
  parallel:
    matrix:
      - PKG: tailscale.yaml
  rules:
    - changes:
        - $PKG
  image:
    name: ghcr.io/vaskozl/melange:0.28.0@sha256:ac001d419c2425634a5870dc4cd2bfe3aa5287f99f4fd0ac377b75b7281e3456
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  script:
    - echo 15000 > /proc/sys/user/max_user_namespaces
    - 'mkdir ~/.docker && echo -n "{\"auths\": {\"${CI_REGISTRY}\": {\"auth\": \"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      | base64)\"}}}" > ~/.docker/config.json'
    - melange build --workspace-dir="$CI_PROJECT_DIR" --arch=aarch64,x86_64 --signing-key=melange.rsa --generate-index=false
      "$PKG"
  artifacts:
    paths:
      - ./packages
