package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - blocky.yaml
          - bootc-baselayout.yaml
          - bootc.yaml
          - bspwm.yaml
          - cage.yaml
          - cagebreak.yaml
          - catatonit.yaml
          - composefs.yaml
          - dracut.yaml
          - fcft.yaml
          - foot.yaml
          - golink.yaml
          - kernel-initramfs.yaml
          - kernel.yaml
          - kromgo.yaml
          - kube-network-policies.yaml
          - kubeconform.yaml
          - libdisplay-info.yaml
          - libliftoff.yaml
          - lidarr.yaml
          - minilb.yaml
          - nori-user.yaml
          - ostree.yaml
          - perl-email-date-format.yaml
          - perl-mailtools.yaml
          - perl-mime-lite.yaml
          - perl-mime-types.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - pinewall-config.yaml
          - prowlarr.yaml
          - radarr.yaml
          - redis.yaml
          - renovate-apk-indexer.yaml
          - seatd.yaml
          - sonarr.yaml
          - sxhkd.yaml
          - synology-csi.yaml
          - tailscale.yaml
          - tllist.yaml
          - tsidp.yaml
          - wlroots.yaml
          - wolfi-scanner.yaml
          - zsh-autosuggestions.yaml
          - zsh-history-substring-search.yaml
          - zsh-syntax-highliting.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
        - ${PKG%.yaml}/*
    - when: never
  tags: ["$ARCH"]
  services:
    - docker:29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  image:
    name: ghcr.io/vaskozl/melange:0.40.5@sha256:ad911cb903da41c020d9e09646ff155941a9b9ae856dffcbbd2fd8cac334f77b
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
      --pipeline-dir ./pipelines
      --env-file common.env
    OUT_DIR: /apks
  retry: 2
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --source-dir="${PKG%.yaml}" --out-dir="${OUT_DIR}" --signing-key=melange.rsa
#    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
