package:
  stage: build
  parallel:
    matrix:
      - PKG:
          - anubis.yaml
          - blocky.yaml
          - catatonit.yaml
          - kubeconform.yaml
          - perl-email-date-format.yaml
          - perl-mailtools.yaml
          - perl-mime-lite.yaml
          - perl-mime-types.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - prowlarr.yaml
          - radarr.yaml
          - redis.yaml
          - sonarr.yaml
          - tailscale.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
    - when: never
  image:
    name: ghcr.io/wolfi-dev/sdk:latest
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="amd64,arm64"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    DRIVER_OPTS: >-
      --driver-opt key=/tmp/key.pem
      --driver-opt cert=/tmp/cert.pem
      --driver-opt cacert=/tmp/ca.pem
    OUT_DIR: /apks
  script:
    - echo "$BUILDKIT_CA"   > /tmp/ca.pem
    - echo "$BUILDKIT_KEY"  > /tmp/key.pem
    - echo "$BUILDKIT_CERT" > /tmp/cert.pem
    # Add build hosts
    - >
      docker buildx create --use --name buildkitd
      --platform linux/arm64
      --driver remote tcp://buildkitd-arm64:1234
      $DRIVER_OPTS
    - >
      docker buildx create --append --name buildkitd
      --platform linux/amd64
      --driver remote tcp://buildkitd-amd64:1234
      $DRIVER_OPTS
    # Helps identify errors as build just hangs on misconfiguration
    - docker buildx du > /dev/null
    - melange build "$PKG" $MELANGE_FLAGS --source-dir="${PKG%.yaml}" --out-dir="${OUT_DIR}" --signing-key=melange.rsa
#    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
