package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - redis.yaml
          - tailscale.yaml
          - blocky.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
    - when: never
  tags: ["$ARCH"]
  services:
    - cgr.dev/chainguard/docker-dind:latest@sha256:082499cdb039997fe869fce18dcec55e421e9da69651dd8775e2f0a1cb844432
  image:
    #name: ghcr.io/vaskozl/melange:0.28.0@sha256:ac001d419c2425634a5870dc4cd2bfe3aa5287f99f4fd0ac377b75b7281e3456
    name: cgr.dev/chainguard/melange:latest-dev@sha256:9b49862b3c621b21332355ee399042bea4f9290aa2cad010afe57b67721ecce7
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
    OUT_DIR: /apks
    REPOS: "$OUT_DIR,https://packages.wolfi.dev/os"
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --signing-key=melange.rsa --out-dir "$OUT_DIR"
    - melange test "$PKG" $MELANGE_FLAGS \
        --repository-append "$REPOS" \
        --ignore-signatures \
        --test-package-append busybox
