package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - blocky.yaml
          - bootc-baselayout.yaml
          - bootc.yaml
          - catatonit.yaml
          - composefs.yaml
          - dracut.yaml
          - golink.yaml
          - kernel.yaml
          - kernel-initramfs.yaml
          - kromgo.yaml
          - kube-network-policies.yaml
          - kubeconform.yaml
          - lidarr.yaml
          - ostree.yaml
          - perl-email-date-format.yaml
          - perl-mailtools.yaml
          - perl-mime-lite.yaml
          - perl-mime-types.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - prowlarr.yaml
          - radarr.yaml
          - redis.yaml
          - renovate-apk-indexer.yaml
          - sonarr.yaml
          - tailscale.yaml
          - tsidp.yaml
          - wolfi-scanner.yaml
          - zsh-autosuggestions.yaml
          - zsh-history-substring-search.yaml
          - zsh-syntax-highliting.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
        - ${PKG%.yaml}/*
    - when: never
  tags: ["$ARCH"]
  services:
    - cgr.dev/chainguard/docker-dind:latest@sha256:67b65568ee7c9bacfb11c9149d43e4ddc7fd845b3d5d58334b1ed6484cce1a0c
  image:
    name: ghcr.io/vaskozl/melange:0.33.1@sha256:487b2670418c3913172977de9037ece6790243b90bc08ee8878713ba98d2963f
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
      --pipeline-dir ./pipelines
      --env-file common.env
    OUT_DIR: /apks
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --source-dir="${PKG%.yaml}" --out-dir="${OUT_DIR}" --signing-key=melange.rsa
#    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
