package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - blocky.yaml
          - catatonit.yaml
          - flannel.yaml
          - golink.yaml
          - kromgo.yaml
          - kubeconform.yaml
          - lidarr.yaml
          - perl-email-date-format.yaml
          - perl-mailtools.yaml
          - perl-mime-lite.yaml
          - perl-mime-types.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - prowlarr.yaml
          - radarr.yaml
          - redis.yaml
          - sonarr.yaml
          - tailscale.yaml
          - renovate-apk-indexer.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
    - when: never
  tags: ["$ARCH"]
  services:
    - cgr.dev/chainguard/docker-dind:latest@sha256:316aecaeadf9da4453fce923f3be171f6cbf2255cf2af929aaa8ee59101ec765
  image:
    name: ghcr.io/vaskozl/melange:0.28.0@sha256:096b9e904f97e13a359ac3d91bc6d5c187211ae85a08dd01bbf803aa5f9224b3
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
      --env-file common.env
    OUT_DIR: /apks
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --source-dir="${PKG%.yaml}" --out-dir="${OUT_DIR}" --signing-key=melange.rsa
#    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
