package:
  stage: build
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        PKG:
          - anubis.yaml
          - blocky.yaml
          - perl-mojolicious.yaml
          - perl-path-tiny.yaml
          - perl-timedate.yaml
          - redis.yaml
          - sonarr.yaml
          - tailscale.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - $PKG
    - when: never
  tags: ["$ARCH"]
  services:
    - cgr.dev/chainguard/docker-dind:latest@sha256:d487363b1c291e5d924ee25fd0e35ce0cb2ec333451c0fbca297b9adacee06b6
  image:
    #name: ghcr.io/vaskozl/melange:0.28.0@sha256:ac001d419c2425634a5870dc4cd2bfe3aa5287f99f4fd0ac377b75b7281e3456
    name: cgr.dev/chainguard/melange:latest-dev@sha256:5de6033daf0f639c701e04eff4b8211ba08b339e95efe0e9b4cce3daf8901842
    entrypoint: [""]
  before_script:
    - echo "${MELANGE_RSA}" > melange.rsa
  variables:
    MELANGE_FLAGS: >-
      --workspace-dir="$CI_PROJECT_DIR"
      --arch="$ARCH"
      --runner=docker
      --cache-dir=/apks/melange-cache
      --apk-cache-dir=/apks/apks-cache
      --repository-append=https://apks.sko.ai,https://packages.wolfi.dev/os
      --keyring-append melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
      --env-file=common.env
    OUT_DIR: /apks
  script:
    - until [ -S /var/run/docker.sock ]; do sleep 1; done
    - melange build "$PKG" $MELANGE_FLAGS --source-dir=${PKG%.yaml}
    - melange test "$PKG" $MELANGE_FLAGS --test-package-append=busybox
