# yaml-language-server: $schema=https://raw.githubusercontent.com/chainguard-dev/melange/refs/heads/main/pkg/config/schema.json
package:
  name: pinewall-config
  version: "0.0.6"
  epoch: 0
  description: pinewall router config
  copyright:
    - license: MIT
  dependencies:
    replaces:
      - 'avahi' # For /etc/avahi/avahi-daemon.conf
      - 'wolfi-baselayout' # For /etc/hosts
      - 'systemd-init' # For /etc/resolv.conf
environment:
  contents:
    packages:
      - busybox
pipeline:
  - runs: |
      cp -a vendor/. "${{targets.destdir}}"/
      find "${{targets.destdir}}" -type f -exec chmod 644 {} +
      find "${{targets.destdir}}"/usr/bin -type f -exec chmod 755 {} +
