[Unit]
Description=Sync m1n1 bootloader to the Apple Silicon ESP
Documentation=https://github.com/AsahiLinux/asahi-scripts
ConditionPathExists=/proc/device-tree/chosen/asahi,efi-system-partition
ConditionPathExists=/etc/default/update-m1n1
ConditionPathExists=/usr/bin/update-m1n1
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/update-m1n1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
