[Unit]
Description=Update Flatpaks and prune unused runtimes
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --system --noninteractive --assumeyes
ExecStart=/usr/bin/flatpak uninstall --system --unused --noninteractive --assumeyes
